# Python
__pycache__/.
*.py[cod]
*.pt
*.egg-info/
.venv/
venv/

#DATA
data/mnist
data/tiles/
*.npy
data/raw/

#Checkpoints
checkpoints/

#Generated samples
*.png

#Secrets / env
.env
# IDE
.vscode/

CLAUDE.md

